 /* Basic reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up at least the full height of the viewport */
}

main {
    flex: 1; /* This will make sure the content area can expand and push the footer down */
}

/* Footer Styles */
footer {
    background-color: #326C79;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer p {
    font-size: 14px;
}

footer a {
    color: #FFDE59;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FFDE59; /* Hover effect for links */
}