#referred_by, #date_applied, #date_hired, #position, #surname,
#first_name, #middle_name, #nickname, #birthdate, #Birthplace,
#sex, #civil_status, #nationality, #Religion, #BloodType, #contact_num,
#email, #address, #famname, #famrelation, #famoccupation, #fambdate, #famaddress,
#famphone, #emergencyname, #emergencyrel, #emergencyaddress, #emergencynumber,
#tin_num, #sss_num, #pag_ibig_num, #philhealth_num, #tax_status, #educlevel, 
#schoolname, #schooldeg, #schfrom, #schto, #honorsrec, #title, #inclusive_dates, 
#conducted_by, #venue, #username, #password, #password_confirmation, #user_role, 
#profile_picture, #registered_company_name, #registered_address, #email_address_of_authorized_personnel,
#engagement_year, #type_of_engagement, #authorized_personnel, #position_of_authorized_personnel, 
#revenue_for_current_year, #prior_years_auditor, #company_name, #delivery_address, #contact_person, 
#mobile_number, #tax_identification_number, #invoice_registered_company_name, #invoice_registered_address, #email_address {
    background-color: #F8FAFC;
    padding: 10px;
}

  

h5 {
  background-color: rgba(50, 108, 121, 0.9); /* 0.7 controls the transparency */
  color: white !important;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}
